<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <title>データフロープログラミング for mruby/c</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/image/favicon.ico">
</head>
<body>
    <h1 id="rboard">RBoardに転送</h1>
    <%#   web serial api    %>
    <form method="POST">
        <div class="buttons">
            <button class="button" formaction="/download_rb">JSON → Byte</button>
        </div>
        <div class="files">
            <textarea name="json_data" 
                      cols="80" rows="10" 
                      id="input_code" 
                      placeholder="JSON書き込みエリア：&#13;Node-REDで「書き出し」をして、JSONコードをペーストしてください。"></textarea>
        </div>
    </form>
    <div class="buttons">
        <button onclick="onConnectButtonClick()" id="onConnectButton" class="button connectButton">接続</button>
        <button onclick="disConnectButtonClick()" id="disConnectButton" class="button connectButton">切断</button>
    </div>
    <div class="buttons">
        <button onclick="file_save()" class="button filelabel">書き込み</button>
        <%# ファイルのアップロード状況を表示
        <p id="text_loading"></p> %>
    </div>
    <div class="buttons">
        <textarea cols="80" rows="20" id="outputArea" placeholder="出力エリア"></textarea>
    </div>
    <br><br><br>
    
    <%#   ruby code editor　（後日実装）    %>
    <h1 id="ruby">Rubyコードの書き込み</h1>
    <h3>Rubyコードを書き込んでください。</h3>
    <textarea id="input_code" name="ruby_data" rows="20" cols="60" placeholder="ここにRubyコードを書き込む"></textarea><br>
    <button onclick="save();" class="button saveButton" formaction="/download_mrb">保存</button>

    <br><br>
    <a href="/">Topへ戻る</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>