<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <title>tools for mruby/c</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../image/favicon.ico">
</head>
<body>
    <h1 id="rboard">ERROR</h1>
<hr>
    エラーが発生しました．
    <br><br>
    <%= @msg %>
<br><br>
    <a href="/">戻る</a>

</body> 
</html>